.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.container header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.game {
    display: grid;
    grid-template-columns:auto auto auto;
    column-gap: 300px;
    row-gap: 40px;
}
.game-card {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 20px rgba(200, 200, 200, 0.7);
    height: 140px;
    width: 200px;
    border: 2px solid black;
    font-size: 50px;
}